/* shopping.page.scss */

/* Style the header */
ion-header {
    ion-toolbar {
      --background: hsl(210, 100%, 21%); /* Change the header background color */
      --color: rgb(247, 247, 247); /* Change the text color */
    }
  }
  
  /* Style the content area */
  ion-content {
    background: #e4e4e4; /* Set a background color for the content */
    ion-list {
      ion-item {
        background: #dfdfdf; /* Change the background color for each product item */
        margin: 10px; /* Adjust the margin around each item */
        border-radius: 12px; /* Make the corners of the items rounder */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adjust the shadow for each item */
        ion-button {
          --background: #3faa43; /* Change the button background color */
          --color: rgba(248, 248, 248, 0.87); /* Change the button text color */
          border-radius: 12px; /* Make the button corners rounder */
          margin-left: 10px; /* Adjust the space between the text and button */
        }
      }
    }
  }
  
  /* Hover effect for product items */
  ion-item:hover {
    transform: scale(1.05); /* Increase the item size slightly on hover */
    transition: transform 0.3s; /* Smooth transition effect */
 
}
  
  /* Style the "Add to Cart" button on hover */
  ion-button:hover {
    --background: #3880ff; /* Change the button background color on hover */
  }
  /* Adicione estilos para o título */
ion-title {
  font-size: 20px;
}

/* Estilize os itens de produtos */
ion-item {
  padding: 15px;
}

/* Estilize o título do produto (h2) */
ion-label h2 {
  font-size: 20px;
  margin: 0;
}

/* Estilize o preço do produto (p) */
ion-label p {
  color: #777;
  font-size: 20px;
}

/* Estilize o botão de adicionar ao carrinho */
ion-button {
  font-size: 12px;
  margin-top: 10px;
}
